/* General Table Styles */
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Make the table responsive */
.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

/* Hide table headers on small screens */
@media screen and (max-width: 768px) {
  .responsive-table thead {
    display: none;
  }

  .responsive-table, 
  .responsive-table tbody, 
  .responsive-table tr, 
  .responsive-table td {
    display: block;
    width: 100%;
  }

  .responsive-table tr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
  }

  .responsive-table td {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    position: relative;
    text-align: left;
  }

  .responsive-table td:last-child {
    border-bottom: none;
  }

  /* Label text for each column */
  .responsive-table td:before {
    content: attr(data-label);
    font-weight: bold;
    color: #333;
    flex: 1;
    text-align: left;
  }
  .over-flow-auto{
    overflow: auto;
  }

  .responsive-table td span {
    flex: 2;
    text-align: right;
    display: block;
  }

  /* Ensure status badge does not overflow */
  .status-badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.8rem;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
  }
}
