/* Add.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.bus {
  color: #333;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder
}
.form_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Adjusted width for responsiveness */
  max-width: 800px; /* Added max-width to prevent overflowing on larger screens */
  height: 80vh; /* Set a fixed height with viewport-relative units */
  overflow-y: auto;
  font-weight: bold;
  font-size: 18px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  font-family: 'Times New Roman', Times, serif;

  
  /* Enable vertical scrolling when content exceeds container height */
}

.form_heading {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  
}

.form_group {
  margin-bottom: 20px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
}

.form_control {
  display: block;
  text-align: center;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: large;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn_success {
  background-color: #28a745;
  color: #fff;
}

.btn_primary {
  background-color: #007bff;
  color: #fff;
  margin: 10px;

}

.text_danger {
  color: #dc3545;
}

.spacer {
  margin-bottom: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .form_container {
    width: 80%; /* Adjust width for smaller screens */
  }
}
.buttonred {
  background-color: #e74c3c;
  color: #ffffff;
  cursor:pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  /* transition: background 0.3s ease; */
  transition: 0.3s easy;
  margin: 5px;
}
@media (max-width: 576px) {
  .form_container {
    width: 90%; /* Further adjust width for extra small screens */
  }
}
.addbg{
  background-color: #2a023a;
}
.Bradius{
  border-radius: 20px;
}
